.header{
    background-color: aqua;
    border: 4px solid #000;
    width: 100%;
    height: 40px;
}
.trang-chu{
    background-color: blanchedalmond;
    position: absolute;
    left: 70px;
    bottom: px;
}